
<div id="container">
  <div fxLayout="row" fxLayoutAlign="left" fxLayoutGap="15px">
    <div fxLayout="column" fxLayoutGap="15px">
      <div fxLayout="row" fxLayoutAlign="space-between end">
        <div fxLayout="row" fxLayoutGap="10px">
          <button mdc-button (click)="onAdd()" class="mdc-button mdc-button--icon-leading" [outlined]="true">
            <span class="mdc-button__ripple"></span>
            <i class="material-icons mdc-button__icon" aria-hidden="true">post_add</i>
            <span class="mdc-button__label">Add</span>
          </button>
    
          <button mdc-button [disabled]="saveDisabled" (click)="onSave()" class="mdc-button mdc-button--icon-leading" [outlined]="true">
            <span class="mdc-button__ripple"></span>
            <i class="material-icons mdc-button__icon" aria-hidden="true">save_alt</i>
            <span class="mdc-button__label">Save</span>
          </button>
        </div>
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between end">
          <button mdc-button class="mdc-button mdc-button--icon-leading" (click)="onThemeClick()" [outlined]="true">
            <span class="mdc-button__ripple"></span>
            <i class="material-icons mdc-button__icon" aria-hidden="true">dark_mode</i>
            <span class="mdc-button__label">theme</span>
          </button>
          <mdc-text-field #searchFieldInput label="Search" [outlined]="true" (input)="onSearchFieldInput($event)">
            <mdc-icon mdcTextFieldIcon [leading]="true">search</mdc-icon>
          </mdc-text-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="15px">
        <div fxFlex="225px" fxLayout="column" style="display: flex;">
          <mdc-list #noteList class="themed-border" [dense]="false" [twoLine]="true" [useSelectedClass]="true" [singleSelection]="true" (selectionChange)="onSelectionChange($event)">
            <mdc-list-item *ngFor="let note of filteredNotes">
              <mdc-list-item-text [secondaryText]="note.date">{{note.title}}
              </mdc-list-item-text>
              <span mdcListItemMeta mdcIcon title="Delete" (click)="onDelete(note)">clear</span>
            </mdc-list-item>
          </mdc-list>
        </div>
        <div fxLayout="column" fxLayoutGap="1.5vh">
          <mdc-text-field #noteTitleInput label="Title" [disabled]="inputDisabled" (input)="onTextFieldInput($event)" [outlined]="true">
          </mdc-text-field>
        
          <mdc-textarea #noteTextInput label="Note" [disabled]="inputDisabled" [rows]="15" [cols]="100" (input)="onTextAreaInput($event)">
          </mdc-textarea>
        </div>
      </div>
    </div>
  </div>  
</div>
