
<div id="container">
  <div fxLayout="row" fxLayoutAlign="left" fxLayoutGap="15px">
    <div fxLayout="column" fxLayoutGap="15px">
      <div fxLayout="row" fxLayoutGap="15px">
        <div fxFlex="225px" fxLayoutGap="15px" fxLayout="column" style="display: flex;">
          <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center" fxFlexOffset="8px">
            <button mdc-button (click)="onAdd()" class="mdc-button mdc-button--icon-leading" [outlined]="true">
              <span class="mdc-button__ripple"></span>
              <i class="material-icons mdc-button__icon" aria-hidden="true">post_add</i>
              <span class="mdc-button__label">Add</span>
            </button>
      
            <button mdc-button [disabled]="saveDisabled" (click)="onSave()" class="mdc-button mdc-button--icon-leading" [outlined]="true">
              <span class="mdc-button__ripple"></span>
              <i class="material-icons mdc-button__icon" aria-hidden="true">save_alt</i>
              <span class="mdc-button__label">Save</span>
            </button>
          </div>
          <mdc-list #noteList class="themed-border" [dense]="false" [twoLine]="true" [useSelectedClass]="true" [singleSelection]="true" (selectionChange)="onSelectionChange($event)">
            <mdc-list-item *ngFor="let note of filteredNotes">
              <mdc-list-item-text [secondaryText]="note.date">{{note.title}}
              </mdc-list-item-text>
              <span mdcListItemMeta mdcIcon title="Delete" (click)="onDelete(note)">clear</span>
            </mdc-list-item>
          </mdc-list>
        </div>
        <div fxLayout="column" fxLayoutGap="15px">
          <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="15px">
            <button #themeSwitchButton mdc-button class="mdc-button mdc-button--icon-leading" (click)="onThemeClick()" [outlined]="true">
              <span class="mdc-button__ripple"></span>
              <mdc-icon id="lightModeIcon">light_mode</mdc-icon>
              <mdc-icon id="darkModeIcon">dark_mode</mdc-icon>
              <span class="mdc-button__label">theme</span>
            </button>
            <mdc-text-field #searchFieldInput label="Search" [outlined]="true" (input)="onSearchFieldInput($event)">
              <mdc-icon mdcTextFieldIcon [leading]="true">search</mdc-icon>
            </mdc-text-field>
          </div>
          <mdc-text-field #noteTitleInput label="Title" [disabled]="inputDisabled" (input)="onTextFieldInput($event)" (change)="onTextFieldChange($event)"[outlined]="true">
          </mdc-text-field>
        
          <mdc-textarea #noteTextInput label="Note" [disabled]="inputDisabled" [rows]="15" [cols]="100" (input)="onTextAreaInput($event)">
          </mdc-textarea>
        </div>
      </div>
    </div>
  </div>  
</div>
